<div class="center-container">
<!-- <div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  "
> -->
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-top: 20px;
    "
  >
    <img
      style="cursor: pointer"
      routerLink="/application/main-menu"
      [src]="rainbowRumbleLogo"
      width="20%"
    />    
  </div>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin: 0px 20px;
      padding: 20px;
    "
  >
    <div
      class="rumbler-box"
      *ngFor="let r of rumblerInfo"
      id="{{ r.code }}"
      [class.active-box]="r.isActive"
      (click)="configRumbler($event, r.code)"
    >
      <span style="font-size: x-large"
        ><b>RUMBLER {{ r.id }}</b></span
      >
      <span style="font-size: xx-large">{{ r.name ? r.name : "?" }}</span>
    </div>
  </div>

  <div
    *ngIf="hasActiveBox"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      flex-direction: column;
    "
  >
    <h1 style="margin-bottom: 10px; color: white">SET RUMBLER NAME</h1>
    <div
      style="
        border: 10px solid white;
        border-radius: 20px;
        padding: 10px 20px;
        width: 50%;
        background-color: yellow;
        color: white;
        display: flex;
        justify-content: center;
      "
    >
      <input
        #rumblerName
        [(ngModel)]="selectedRumblerName"
        style="
          width: 100%;
          padding: 20px;
          font-size: xx-large;
          text-align: center;
          border: none;
          text-transform: uppercase;
        "
      />
    </div>
    <button
      (click)="submitName()"
      class="set-name-button"
    >
      Set Name
    </button>
  </div>
  <div
    style="
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 95%;
      flex-direction: column;
      margin-top: 50px;
    "
  >
    <button
      routerLink="/application/rumble-proper"
      *ngIf="isReadyToRumble"
      class="start-rumble-button"
    >
      START RUMBLING! >>
    </button>
  </div>
</div>
