<div class="center-container">
  <img [src]="rainbowRumbleLogo" width="80%" />
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
      width: 100%;
    "
  >
    <button routerLink="/application/rumble-setup" class="metallic-button">
      START NEW RUMBLE
    </button>    

    <input #file hidden type="file" (change)="handleZipUpload($event)" accept=".zip" />
    <button (click)="file.click()" class="metallic-button">
      LOAD SAVED RUMBLE
    </button>
  </div>
</div>
