<div class="center-container">
  <img [src]="rainbowRumbleLogo" width="80%"/>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
      width: 100%;
    "
  >
    <button
    routerLink="/application/rumble-setup"
      style="
        font-size: x-large;
        width: 50%;
        padding: 20px 10px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
      "
    >
      Start New Rumble
    </button>
    <button
      style="
        font-size: x-large;
        width: 50%;
        padding: 20px 10px;
        margin-top: 10px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
      "
    >
      Load Saved Rumble
    </button>
  </div>
</div>
