.rumbler-box-proper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0px 10px 10px;
  padding: 10px;
  border: 10px solid white;
  border-radius: 20px;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgb(33, 15, 148) 0%,
    rgb(28, 16, 133) 16%,
    rgb(31, 31, 184) 48%,
    rgb(46, 46, 217) 75%,
    rgb(82, 82, 242) 100%
  );
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.rally-board-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0px 10px 10px;
  padding: 10px;
  border: 10px solid white;
  border-radius: 20px;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(240, 226, 29, 1) 0%,
    rgba(224, 211, 22, 1) 16%,
    rgba(207, 194, 19, 1) 48%,
    rgba(189, 177, 19, 1) 75%,
    rgba(163, 153, 5, 1) 100%
  );
  color: #000;
  text-align: center;
  cursor: pointer;
}

.rally-board-box:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.rally-board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}

.done-box {
  pointer-events: none;
  opacity: 0;
}

.picked-card-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.picked-card {
  position: relative;
  width: 550px;
  height: 550px;
  font-size: 400px;
  font-weight: bold;
  border-radius: 50px;
  background: #000;
  color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  opacity: 1;
  transform: scale(1);

  &.animate {
    transform: scale(2);
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    z-index: -1;
    background: linear-gradient(
      270deg,
      red,
      orange,
      yellow,
      green,
      cyan,
      blue,
      violet,
      red
    );
    border-radius: inherit;
    background-size: 400% 400%;
    animation: borderRGB 8s linear infinite;
  }
}

@keyframes borderRGB {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.setup-icon {
  cursor: pointer;
  margin-right: 10px;
}

.setup-icon:hover {
  transform: scale(1.5);
}

.setup-segments {
  height: 600px;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
}

.setup-category {
  padding: 20px;
  margin-bottom: 10px;
  background: #e3e3e3;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background: linear-gradient(
    0deg,
    rgb(33, 15, 148) 0%,
    rgb(28, 16, 133) 16%,
    rgb(31, 31, 184) 48%,
    rgb(46, 46, 217) 75%,
    rgb(82, 82, 242) 100%
  );
  color: #fff;
  font-weight: bold;
}

.category-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.question-id {
  width: 10%;
  background: #0d6dfc;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: x-large;
}

.question-statement {
  width: 90%;
  background: #fff;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.question-holder {
  display: flex;
  width: 100%;
  text-align: left;
  justify-content: flex-start;
  height: 250px;
  resize: none;
  border-radius: 10px;
  border: 3px solid #ededed;
  padding: 10px;
}

.question-item {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.question-item:hover {
  font-weight: 800;
}

.unclickable {
  opacity: 50%;
  pointer-events: none;
}

.rumbler-info-number {
  height: 50px;
  width: 100px;
  background: #0d6efd;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
  font-weight: 500;
}

.rumbler-info-name {
  height: 50px;
  width: 250px;
  background: #fff;
  color: #0d6efd;
  font-weight: 500;
  border-radius: 10px;
  border: 3px solid #0d6efd;
}

.rumbler-info-name {
  height: 50px;
  width: 250px;
  background: #fff;
  color: #0d6efd;
  font-weight: 500;
  border-radius: 10px;
  border: 3px solid #0d6efd;
}

.score-control-button {
  height: 50px;
  width: 50px;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
  font-weight: 500;
  font-size: x-large;
  cursor: pointer;
  border: 3px solid #fff;
}

.score-control-button:hover {
  transform: scale(1.05);
}
