<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  "
>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      flex-direction: column;
      margin-top: 20px;
    "
  >
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
      "
    >
      <div
        class="rumbler-box-proper"
        *ngFor="let r of rumblerInfo"
        id="{{ r.code }}"
      >
        <span style="font-size: large"
          ><b>{{ r.name }}</b></span
        >
        <span style="font-size: x-large">{{ r.score }}</span>
      </div>
    </div>
  </div>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      flex-direction: column;
      position: relative;
    "
  >
    <div *ngIf="hasCardPicked" class="picked-card-backdrop">
      <div
        class="rally-board-box picked-card"
        [ngClass]="{ animate: animateCard }"
      >
        {{ currentQuestion.questionId }}
      </div>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin: 20px 0;
      "
    >
      &nbsp;
      <img
        style="cursor: pointer"
        routerLink="/application/main-menu"
        [src]="rainbowRumbleLogo"
        width="20%"
      />
      <div class="d-flex justify-content-between"> 
        <img
        (click)="setupRally('open')"
        class="setup-icon"
        [src]="setupIcon"
        width="50px"
      />
      <img
        style="margin-left: 10px;"
        class="setup-icon"
        [src]="exitIcon"
        width="50px"
      />
      </div>
      
    </div>

    <div class="rally-board-row">
      <div
        [class.done-box]="q.isDone"
        *ngFor="let q of questions1_to_10"
        class="rally-board-box"
        (click)="openModal(q)"
      >
        <span style="font-size: xx-large">{{ q.questionId }}</span>
      </div>
    </div>

    <div class="rally-board-row">
      <div
        [class.done-box]="q.isDone"
        *ngFor="let q of questions11_to_20"
        class="rally-board-box"
        (click)="openModal(q)"
      >
        <span style="font-size: xx-large">{{ q.questionId }}</span>
      </div>
    </div>

    <div class="rally-board-row">
      <div
        [class.done-box]="q.isDone"
        *ngFor="let q of questions21_to_30"
        class="rally-board-box"
        (click)="openModal(q)"
      >
        <span style="font-size: xx-large">{{ q.questionId }}</span>
      </div>
    </div>

    <div class="rally-board-row">
      <div
        [class.done-box]="q.isDone"
        *ngFor="let q of questions31_to_40"
        class="rally-board-box"
        (click)="openModal(q)"
      >
        <span style="font-size: xx-large">{{ q.questionId }}</span>
      </div>
    </div>

    <div class="rally-board-row">
      <div
        [class.done-box]="q.isDone"
        *ngFor="let q of questions41_to_50"
        class="rally-board-box"
        (click)="openModal(q)"
      >
        <span style="font-size: xx-large">{{ q.questionId }}</span>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div
        class="modal-content"
        style="width: 1000px; justify-self: center; height: 750px"
      >
        <div class="modal-header">
          <h4 class="modal-title">
            RALLY QUESTION {{ currentQuestion.questionId }}
          </h4>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal('close')"
          ></button>
        </div>

        <div
          class="modal-body d-flex justify-content-center align-items-center"
        >
          <div
            class="d-flex justify-content-center"
            style="font-size: xxx-large; text-align: center"
          >
            {{ currentQuestion.statement }}
          </div>
        </div>

        <div class="modal-footer">
          <button
            (click)="closeModal('cancel')"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            (click)="assignPoint('open')"
            type="button"
            class="btn btn-success"
            data-bs-dismiss="modal"
          >
            Done
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="addPointModal">
    <div class="modal-dialog">
      <div
        class="modal-content"
        style="
          width: fit-content;
          justify-self: center;
          height: fit-content;
          padding: 15px;
        "
      >
        <!-- <div class="modal-header">
          <h4 class="modal-title">RALLY QUESTION {{ currentQuestion.questionId }}</h4>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal('close')"
          ></button>
        </div> -->

        <div
          class="modal-body d-flex justify-content-center align-items-center"
        >
          <div
            class="d-flex justify-content-center"
            style="
              font-size: xxx-large;
              text-align: center;
              flex-direction: column;
            "
          >
            <h5 style="color: #b1970c; font-weight: 900" class="mb-2">
              POINT GOES TO
            </h5>
            <button
              (click)="assignPoint('submit', r)"
              *ngFor="let r of rumblerInfo"
              class="btn btn-primary mb-2"
            >
              {{ r.name }}
            </button>
          </div>
        </div>

        <div
          class="modal-footer d-flex"
          style="flex-direction: column; width: 100%"
        >
          <button
            (click)="assignPoint('close')"
            style="width: 90%; justify-content: center"
            type="button"
            class="d-flex btn btn-danger mb-1"
            data-bs-dismiss="modal"
          >
            CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="setupModal">
  <div class="modal-dialog">
    <div
      class="modal-content"
      style="width: 1000px; justify-self: center; height: 750px"
    >
      <div class="modal-header">
        <h4 class="modal-title">RALLY SETUP</h4>
        <button
          (click)="setupRally('close')"
          type="button"
          class="btn-close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="d-flex justify-content-between" style="width: 100%">
          <div class="d-flex setup-segments" style="width: 30%">
            <div
              class="setup-category"
              id="upload-btn"
              (click)="setupRally('upload')"
            >
              <i data-feather="upload"></i>
              <span style="margin-left: 10px">Upload</span>
            </div>
            <div
              class="setup-category"
              id="modify-btn"
              (click)="setupRally('modify')"
            >
              <i data-feather="edit"></i
              ><span style="margin-left: 10px">Modify</span>
            </div>
            <div
              class="setup-category"
              id="scoring-btn"
              (click)="setupRally('scoring')"
            >
              <i data-feather="table"></i>
              <span style="margin-left: 10px">Scoring</span>
            </div>
            <div
              class="setup-category"
              id="save-btn"
              (click)="setupRally('save')"
            >
              <i data-feather="upload"></i>
              <span style="margin-left: 10px">Save Progress</span>
            </div>
          </div>
          <div
            class="d-flex setup-segments"
            [style.justify-content]="
              selectedSetupCategory === 'scoring' ? 'flex-start' : 'center'
            "
            style="width: 69%"
          >
            <div
              class="category-content"
              *ngIf="selectedSetupCategory === 'upload'"
            >
              <input
                type="file"
                #file
                (change)="updateRallyQuestions($event)"
                hidden
                accept="text/csv"
              />
              <img [src]="fileBrowseIcon" width="20%" class="mb-2" />
              <button
                (click)="file.click()"
                class="btn btn-primary"
                [style.background]="uploadSuccessful ? '#1e5019' : '#0d6dfc'"
                style="padding: 10px 20px; width: 40%"
              >
                <!-- <i data-feather="file-plus"></i
                > -->
                <span style="margin-left: 10px">{{ uploadLabel }}</span>
              </button>
              <span style="font-style: oblique; color: grey"
                >Accepts only CSV files</span
              >
            </div>
            <div
              class="category-content justify-content-start"
              style="overflow-y: scroll"
              *ngIf="selectedSetupCategory === 'modify'"
            >
              <div
                (click)="editQuestion('open', q.questionId)"
                class="d-flex justify-content-center mb-2 question-item"
                *ngFor="let q of questions1_to_10"
              >
                <div
                  class="d-flex justify-content-center align-items-center question-id"
                >
                  {{ q.questionId }}
                </div>
                <div
                  class="d-flex justify-content-center align-items-center question-statement"
                  [style.color]="q.statement ? '#000' : '#737373'"
                >
                  {{ q.statement ? q.statement : "No question." }}
                </div>
              </div>
              <div
                (click)="editQuestion('open', q.questionId)"
                class="d-flex justify-content-center mb-2 question-item"
                *ngFor="let q of questions11_to_20"
              >
                <div
                  class="d-flex justify-content-center align-items-center question-id"
                >
                  {{ q.questionId }}
                </div>
                <div
                  class="d-flex justify-content-center align-items-center question-statement"
                  [style.color]="q.statement ? '#000' : '#737373'"
                >
                  {{ q.statement ? q.statement : "No question." }}
                </div>
              </div>
              <div
                (click)="editQuestion('open', q.questionId)"
                class="d-flex justify-content-center mb-2 question-item"
                *ngFor="let q of questions21_to_30"
              >
                <div
                  class="d-flex justify-content-center align-items-center question-id"
                >
                  {{ q.questionId }}
                </div>
                <div
                  class="d-flex justify-content-center align-items-center question-statement"
                  [style.color]="q.statement ? '#000' : '#737373'"
                >
                  {{ q.statement ? q.statement : "No question." }}
                </div>
              </div>
              <div
                (click)="editQuestion('open', q.questionId)"
                class="d-flex justify-content-center mb-2 question-item"
                *ngFor="let q of questions31_to_40"
              >
                <div
                  class="d-flex justify-content-center align-items-center question-id"
                >
                  {{ q.questionId }}
                </div>
                <div
                  class="d-flex justify-content-center align-items-center question-statement"
                  [style.color]="q.statement ? '#000' : '#737373'"
                >
                  {{ q.statement ? q.statement : "No question." }}
                </div>
              </div>
              <div
                (click)="editQuestion('open', q.questionId)"
                class="d-flex justify-content-center mb-2 question-item"
                *ngFor="let q of questions41_to_50"
              >
                <div
                  class="d-flex justify-content-center align-items-center question-id"
                >
                  {{ q.questionId }}
                </div>
                <div
                  class="d-flex justify-content-center align-items-center question-statement"
                  [style.color]="q.statement ? '#000' : '#737373'"
                >
                  {{ q.statement ? q.statement : "No question." }}
                </div>
              </div>
            </div>
            <div
              class="category-content justify-content-start"
              *ngIf="selectedSetupCategory === 'scoring'"
            >
              <div class="d-flex col-12 justify-content-end mb-2">
                <button
                  [class.unclickable]="allScoresAreZero"
                  class="btn btn-primary"
                  (click)="confirmScoreReset('open')"
                >
                  Reset Scores
                </button>
              </div>
              <div
                class="d-flex col-12 justify-content-center"
                style="flex-direction: column"
              >
                <div
                  class="d-flex col-12 justify-content-center mb-2"
                  style="
                    background: #e2e2e2;
                    padding: 10px;
                    border-radius: 10px;
                  "
                  *ngFor="let r of rumblerInfo"
                >
                  <div class="d-flex col-8 justify-content-start">
                    <div
                      class="d-flex justify-content-center align-items-center rumbler-info-number"
                    >
                      Rumbler {{ r.id }}
                    </div>
                    <div
                      class="d-flex justify-content-center align-items-center rumbler-info-name"
                    >
                      {{ r.name }}
                    </div>
                  </div>
                  <div class="d-flex col-4 justify-content-end">
                    <div
                      (click)="controlScore('minus', r)"
                      class="d-flex justify-content-center align-items-center score-control-button"
                      style="background: #d92818"
                      [class.unclickable]="r.score === 0"
                    >
                      -
                    </div>
                    <div
                      class="d-flex justify-content-center align-items-center"
                      style="
                        height: 50px;
                        width: 80px;
                        margin-right: 5px;
                        font-weight: 500;
                        font-size: xx-large;
                      "
                    >
                      {{ r.score }}
                    </div>
                    <div
                      (click)="controlScore('plus', r)"
                      class="d-flex justify-content-center align-items-center score-control-button"
                      style="background: #499600"
                    >
                      +
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="category-content"
              *ngIf="selectedSetupCategory === 'save'"
            >              
              <img [src]="saveIcon" width="20%" class="mb-2" />
              <button
                (click)="saveGameData()"
                class="btn btn-primary"
                style="padding: 10px 20px; width: 40%"
              >
                <span>Save Game Data</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="editQuestionModal">
  <div class="modal-dialog">
    <div
      class="modal-content"
      style="width: 600px; justify-self: center; height: 500px"
    >
      <div class="modal-header">
        <h4 class="modal-title">EDIT QUESTION {{ questionToEdit?.id }}</h4>
        <button
          (click)="editQuestion('close')"
          type="button"
          class="btn-close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="d-flex justify-content-between" style="width: 100%">
          <textarea
            class="question-holder"
            [(ngModel)]="questionToEdit.text"
          ></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button
          (click)="editQuestion('submit')"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="confirmScoreResetModal">
  <div class="modal-dialog">
    <div
      class="modal-content"
      style="width: fit-content; justify-self: center; height: fit-content"
    >
      <div class="modal-header">
        <h4 class="modal-title">SCORE RESET CONFIRMATION</h4>
        <button
          (click)="confirmScoreReset('close')"
          type="button"
          class="btn-close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="d-flex justify-content-between" style="width: 100%">
          <span
            >You are about to reset all scores back to zero. Please confirm to
            proceed.</span
          >
        </div>
      </div>

      <div class="modal-footer">
        <button
          (click)="controlScore('reset')"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
