.avatar-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  padding: 20px;
  border: 10px solid white;
  border-radius: 20px;
  flex-direction: column;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden; /* ensures blur doesn't spill out */
  z-index: 1;
}

.avatar-box::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background: linear-gradient(
    89.7deg,
    rgba(223, 0, 0, 1) 2.7%,
    rgba(214, 91, 0, 1) 15.1%,
    rgba(233, 245, 0, 1) 29.5%,
    rgba(23, 255, 17, 1) 45.8%,
    rgba(29, 255, 255, 1) 61.5%,
    rgba(5, 17, 255, 1) 76.4%,
    rgba(202, 0, 253, 1) 92.4%
  );
  filter: blur(30px); /* adjust blur amount */
  border-radius: 20px;
}


.rumbler-box:hover {
  transform: scale(1.05);
}

.active-box {
  box-shadow: 0 0 10px 10px lightblue;
}

.start-rumble-button {
  font-size: xx-large;
  width: 35%;
  padding: 20px 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  background: #990069;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.avatar-choice{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #fff;
  border: 3px solid white;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 1/1;
  z-index: 1;
  &:hover{
    transform: scale(1.2);
  }
}