<div class="center-container">
  <!-- <div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  "
> -->
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-top: 20px;
    "
  >
    <img
      style="cursor: pointer"
      routerLink="/application/main-menu"
      [src]="rainbowRumbleLogo"
      width="20%"
    />
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      margin: 0px 20px;
      padding: 20px;
    "
  >
    <div
      class="avatar-box"
      style="position: relative"
      *ngFor="let r of rumblerInfo"
      id="{{ r.code }}"
      [class.active-box]="r.isActive"
      (click)="chooseRumbler(r.code)"
    >
      <div
        style="position: absolute; bottom: 30px"
        class="d-flex justify-content-center"
      >
        <img
          [src]="r.avatar"
          onerror="this.src='../../../assets/avatars/default-avatar.png'"
          height="145"
        />
      </div>

      <div
        style="
          display: flex;
          width: 180px;
          height: 30px;
          justify-content: center;
          align-items: center;
          background: #000;
          color: #fff;
          font-weight: 700;
          font-size: x-large;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          position: absolute;
          bottom: 0px;
        "
      >
        {{ r.name }}
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      flex-direction: column;
    "
  >
    <h1 style="margin-bottom: 10px; color: white">SELECT YOUR AVATAR</h1>
    <div
      style="
        border: 10px solid white;
        border-radius: 20px;
        padding: 10px 10px;
        width: fit-content;
        background-color: #000;
        color: white;
        display: flex;
        justify-content: center;
      "
    >
      <div style="display: flex; gap: 10px; flex-wrap: nowrap">
        @for(choice of avatarChoices; track choice.id){
        <div
          class="avatar-choice"
          [class.selected]="choice.isSelected"
          [class.assigned]="choice.isAssigned"
          (click)="selectAvatar(choice.id)"
        >
          <img [src]="choice.path" height="80" />
        </div>
        }
      </div>
    </div>
    <div class="d-flex justify-content-center" style="gap: 10px">
      <button
        [disabled]="!selectedAvatar || !selectedRumbler"
        class="control-btn assign-btn"
        (click)="assignAvatar(selectedAvatar?.path)"
      >
        <span
          ><i data-feather="check" style="margin-right: 10px"></i>Select
          Avatar</span
        >
      </button>
      <button
        [hidden]="selectedRumbler?.['avatar'] == null"
        class="control-btn remove-btn"
        (click)="removeAvatar(selectedAvatar?.path)"
      >
        <span
          ><i data-feather="x" style="margin-right: 10px"></i>Remove
          Avatar</span
        >
      </button>
    </div>
  </div>
  <div
    style="
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 95%;
      flex-direction: column;
      margin-top: 50px;
    "
  >
    <button
      routerLink="/application/rumble-proper"
      *ngIf="isReadyToRumble"
      class="start-rumble-button"
    >
      START RUMBLING! >>
    </button>
  </div>
</div>
