body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  background: linear-gradient(-45deg, #720505, #b97002, #129212, #00265e, #530b83, #000);
  background-size: 400% 400%;
  animation: animatedBackground 15s ease infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


app-layout,
app-body,
app-main-menu {
  margin: 0px;
  padding: 0px;
  max-height: calc(var(--screenH));
}

.center-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}
