<div class="scene">
  <div class="cube" [ngStyle]="cubeStyle">
    <div class="face front" style="background: red"></div>
    <div class="face back" style="background: blue"></div>
    <div class="face right" style="background: green"></div>
    <div class="face left" style="background: yellow"></div>
    <div class="face top" style="background: rgb(189, 6, 119)"></div>
    <div class="face bottom" style="background: purple"></div>
  </div>
</div>
<button (click)="rollCube()">Roll Cube</button>
<p>Result: {{ resultColor }}</p>
